<section>
     <div class="container mx-auto">
         <div class="h-14 flex items-center justify-center bg-white md:h-10">
             <div class="search-box bg-blue-800 h-7 py-5 px-2.5 rounded-xl flex justify-center items-center md:hidden">
                 <input type="text"
                        name=""
                        class="search-text text-white w-full border-0 bg-transparent outline-0 leading-[7px]"
                        placeholder="O que você procura?"
                 >
                 <a href="#" class="search-bnt flex justify-center items-center">
                     <i class="fa-solid fa-magnifying-glass text-yellow-400"></i>
                 </a>
             </div>
 
             <nav class="hidden md:block">
                 <ul class="flex gap-2 relative">
                     <li>
                         <a href="#"
                            class="text-blue-800 py-3 px-5 md:text-sm lg:text-base lg:px-7 xl:text-lg hover:bg-yellow-400">
                             Categorias
                         </a>
                     </li>
                     <li>
                         <a href="#"
                            class="text-blue-800 py-3 px-5 md:text-sm lg:text-base lg:px-7 xl:text-lg hover:bg-yellow-400">
                             Mais vendido
                         </a>
                     </li>
                     <li>
                         <a href="#"
                            class="text-blue-800 py-3 px-5 md:text-sm lg:text-base lg:px-7 xl:text-lg hover:bg-yellow-400">
                             Novidades na loja
                         </a>
                     </li>
                     <li>
                         <a href="#"
                            class="text-blue-800 py-3 px-5 md:text-sm lg:text-base lg:px-7 xl:text-lg hover:bg-yellow-400">
                             Produtos em alta
                         </a>
                     </li>
                     <li>
                         <a href="#"
                            class="text-blue-800 py-3 px-5 md:text-sm lg:text-base lg:px-7 xl:text-lg hover:bg-yellow-400">
                             Oferta do dia
                         </a>
                     </li>
                 </ul>
             </nav>
 
             <div id="menu-mobile"
                  class="menu-mobile bg-zinc-100 h-screen w-0 overflow-hidden fixed top-0 left-0 z-[9999] duration-300">
                 <div class="hidden btn-close bg-[#C36BE5] text-right">
                     <i class="fa-solid fa-xmark text-white text-2xl pt-3 px-3"></i>
                 </div>
 
                 <div class="bg-blue-800 py-3">
                     <a href="" class="enter-user w-11 text-white font-semibold">
                         <i class="fa-solid fa-user text-xl pl-3 pr-2"></i>
                         Entre ou Cadastre-se
                     </a>
                 </div>
 
                 <nav class="pt-3">
                     <ul class="block">
                         <li>
                             <div class="text-sm text-[#034AAD] font-semibold uppercase p-3">
                                 Destaques
                             </div>
                         </li>
                         <li>
                             <a href="#" class="w-full block py-1.5 px-3 hover:text-blue-800 hover:bg-yellow-400">
                                 Mais vendido
                             </a>
                         </li>
                         <li>
                             <a href="#" class="w-full block py-1.5 px-3 hover:text-blue-800 hover:bg-yellow-400">
                                 Novidades na loja
                             </a>
                         </li>
                         <li>
                             <a href="#" class="w-full block py-1.5 px-3 hover:text-blue-800 hover:bg-yellow-400">
                                 Produtos em alta
                             </a>
                         </li>
                         <li>
                             <a href="#" class="w-full block py-1.5 px-3 hover:text-blue-800 hover:bg-yellow-400">
                                 Oferta do dia
                             </a>
                         </li>
                         <li>
                             <div class="text-sm text-[#034AAD] font-semibold uppercase p-3">
                                 Compras por categoria
                             </div>
                         </li>
                         <li>
                             <a href="#" class="w-full block py-1.5 px-3 hover:text-blue-800 hover:bg-yellow-400">
                                 Lorem ipsum
                             </a>
                         </li>
                         <li>
                             <a href="#" class="w-full block py-1.5 px-3 hover:text-blue-800 hover:bg-yellow-400">
                                 Lorem ipsum
                             </a>
                         </li>
                         <li>
                             <a href="#" class="w-full block py-1.5 px-3 hover:text-blue-800 hover:bg-yellow-400">
                                 Lorem ipsum
                             </a>
                         </li>
                         <li>
                             <a href="#" class="w-full block py-1.5 px-3 hover:text-blue-800 hover:bg-yellow-400">
                                 Lorem ipsum
                             </a>
                         </li>
                         <li>
                             <div class="text-sm text-[#034AAD] font-semibold uppercase p-3">
                                 Ajuda e configurações
                             </div>
                         </li>
                         <li>
                             <a href="#" class="w-full block py-1.5 px-3 hover:text-blue-800 hover:bg-yellow-400">
                                 Sua conta
                             </a>
                         </li>
                         <li>
                             <a href="#"
                                class="w-full block py-1.5 px-3 hover:text-blue-800 hover:bg-yellow-400">
                                 Ajuda
                             </a>
                         </li>
                         <li>
                             <a href="#" class="w-full block py-1.5 px-3 hover:text-blue-800 hover:bg-yellow-400">
                                 Faça seu login
                             </a>
                         </li>
                     </ul>
                 </nav>
             </div>
 
             <div id="overlay-menu"
                  class="overlay-menu hidden bg-black/50 w-full h-full fixed top-0 right-0 z-[8888]">
             </div>
         </div>
     </div>
 </section>
 
