<header id="Header-nav" class="bg-yellow-400">
     <div class="container">
         <div class="header-nav flex justify-between items-center py-6">
             <div>
                 <a href="#"
                    id="btn-menu"
                    class="btn-mobile md:hidden">
                     <i class="fa-solid text-blue-800 fa-bars text-2xl px-5"></i>
                 </a>
                 <!-- <a href="{{route('home')}}" class="md:pl-5 font-semibold text-blue-800">LOGOMARCA</a> -->
                 <a href="" class="md:pl-5 font-semibold text-blue-800">LOGOMARCA</a>

             </div>
 
             <div class="search-box hidden bg-white h-8 p-2.5 rounded-xl md:flex md:justify-center md:items-center">
                 <input type="text"
                        name=""
                        class="search-text bg-neutral-800 border-0 bg-transparent outline-0 p-0 leading-[7px] md:w-60 lg:w-80"
                        placeholder="O que você procura?"
                 >
                 <a href="#" class="search-bnt flex justify-center items-center">
                     <i class="fa-solid fa-magnifying-glass text-blue-800"></i>
                 </a>
             </div>
          </div>   
     </div>
 </header>
 
