<footer>
     <div class="container">
         <div>
             <div class="grid grid-cols-1 mx-5 mt-10 gap-8 sm:mx-0 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4">
                 <div>
                     <h2 class="text-blue-800 mb-6 text-base font-semibold uppercase">
                         Atenção Clientes
                     </h2>
                     <ul class="text-gray-500 font-medium">
                         <li class="mb-4">
                             <a href="#" class="hover:underline hover:text-yellow-400">Soluções</a>
                         </li>
                         <li class="mb-4">
                             <a href="#" class="hover:underline hover:text-yellow-400">Como comprar</a>
                         </li>
                         <li class="mb-4">
                             <a href="#" class="hover:underline hover:text-yellow-400">Benefícios</a>
                         </li>
                         <li class="mb-4">
                             <a href="#" class="hover:underline hover:text-yellow-400">Métodos de pagamentos</a>
                         </li>
                         <li class="mb-4">
                             <a href="#" class="hover:underline hover:text-yellow-400">Devoluções e Garantias</a>
                         </li>
                         <li class="mb-4">
                             <a href="#" class="hover:underline hover:text-yellow-400">Centro de ajuda</a>
                         </li>
                         <li class="mb-4">
                             <a href="#" class="hover:underline hover:text-yellow-400">Reclamações e Sugestões</a>
                         </li>
                         <li class="mb-4">
                             <a href="#" class="hover:underline hover:text-yellow-400">Vendas corporativaa</a>
                         </li>
                     </ul>
                 </div>
 
                 <div>
                     <h2 class="text-blue-800 mb-6 text-base font-semibold uppercase">
                         Sobre LOGOMARCA
                     </h2>
                     <ul class="text-gray-500 font-medium">
                         <li class="mb-4">
                             <a href="#" class="hover:underline hover:text-yellow-400">Sobre nós</a>
                         </li>
                         <li class="mb-4">
                             <a href="#" class="hover:underline hover:text-yellow-400">Trabalhe conosco</a>
                         </li>
                         <li class="mb-4">
                             <a href="#" class="hover:underline hover:text-yellow-400">Fornecedores</a>
                         </li>
                         <li class="mb-4">
                             <a href="#" class="hover:underline hover:text-yellow-400">Venda conosco</a>
                         </li>
                     </ul>
                 </div>
 
                 <div>
                     <h2 class="text-blue-800 mb-6 text-base font-semibold uppercase">
                         Legal
                     </h2>
                     <ul class="text-gray-500 font-medium">
                         <li class="mb-4">
                             <a href="#" class="hover:underline hover:text-yellow-400">Política de privacidade</a>
                         </li>
                         <li>
                             <a href="#" class="hover:underline hover:text-yellow-400">Termos &amp; Condições</a>
                         </li>
                     </ul>
                 </div>
 
                 <div>
                     <h2 class="text-blue-800 mb-6 text-base font-semibold uppercase">
                         siga-nos
                     </h2>
                     <div class="flex mt-4 sm:mt-0">
                         <a href="#" class="text-gray-500 hover:text-blue-800">
                             <i class="fa-brands fa-facebook text-xl"></i>
                             <span class="sr-only">Facebook</span>
                         </a>
                         <a href="#" class="text-gray-500 hover:text-blue-800 ms-5">
                             <i class="fa-brands fa-instagram text-xl"></i>
                             <span class="sr-only">instagram</span>
                         </a>
                         <a href="#" class="text-gray-500 hover:text-blue-800 ms-5">
                             <i class="fa-brands fa-youtube text-xl"></i>
                             <span class="sr-only">YouTube</span>
                         </a>
                         <a href="#" class="text-gray-500 hover:text-blue-800 ms-5">
                             <i class="fa-brands fa-tiktok text-xl"></i>
                             <span class="sr-only">TikTok</span>
                         </a>
                     </div>
                 </div>
             </div>
         </div>
 
         <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8"/>
 
         <div class="text-center">
             <div class="mb-2">
                 <a href="#">
                     <span
                         class="text-blue-800 self-center text-2xl font-semibold whitespace-nowrap">
                         LOGOMARCA
                     </span>
                 </a>
             </div>
             <div class="mb-8">
                 <span class="text-sm text-gray-500 sm:text-center">
                     © 2024 <a href="#" class="hover:underline">LOGOMARCA</a>. Todos os direitos reservados.
                 </span>
             </div>
         </div>
     </div>
 </footer>
 
